/*620 a 748px*/
@media (max-width: 748px) {

    nav ul{
        width: 395px;
    }

        ul li{
            width: 68px;
        }

    #about .box .text{
        font-size: 1.15em;
    }

    #about .icons{
        width: 50%;
    }

    .expand-Box .box{
        width: 60%;
    }

    #version .download-Box{
        width: 62%;
    }

    #tutorial .box{
        width: 90%;
    }

    .info-Box .text{
        font-size: 0.89em;
    }
}

@media (max-width: 718px) {
    #about .box .text{
        font-size: 1.1em;
    }

    .expand-Box .box{
        width: 65%;
    }

    #version .download-Box{
        width: 68%;
    }
}

@media (max-width: 685px) {
    #about .box .text{
        font-size: 1em;
    }

    .expand-Box .box{
        width: 72%;
    }

    #version .download-Box{
        width: 72%;
    }
}