@media(min-width: 380px) {
    .box-info, .box-versao {
        width: 320px;
    }
} 


@media(min-width: 520px) {
    .box-info, .box-versao {
        width: 380px;
    }
} 

@media(min-width: 650px) {
    #video {
        height: 280px;
        justify-content: space-evenly;
    }

        #video iframe {
            width: 45%;
        }
} 


@media(min-width: 1024px) {

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        header h1 {
            display: block;
        }

        header #menu {
            display: none;
        }

        header nav {
            position: initial;
            width: 640px;
            height: 50px;
            background: transparent;
            display: flex;
            justify-content: center;
        }

          ul {
            width: 620px;
            flex-direction: row;
            justify-content: space-between;
          }

    h2 {
        display: block;
    }

    .box-info, .box-versao {
        width: 320px;
    }

    #sobre {
        height: 420px;
    }

        .box-sobre p {
            font-size: 2em;
            padding: 100px;
        }

    #info {
        height: 380px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #video {
        height: 340px;
    }

        #video iframe {
            height: 320px;
        }

    #slide {
        display: flex;
    }

    #versao {
        height: 400px;
        flex-direction: row;
        justify-content: space-around;
    }

        .box-versao ul  {
            flex-direction: column;
        }

    footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

        footer .contato {
            width: 360px;
        }

    #donate {
        height: 1200px;
        justify-content: start;
    }
    #box {
        height: 500px;
        flex-direction: row;
    }
} 


@media(min-width: 1280px) {
    .box-info, .box-versao {
        width: 360px;
    }

    #info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}
