@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
}

h1 {
    font-family: 'Pushster', cursive;
    font-size: 1.8em;
    color: #fff;
}

h2 {
    display: none;
    font-size: 2em;
    color: #fff;
}

h3 {
    font-size: 1.6em;
    color: #fff;
}

body {
    width: 100%;
    background: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    header {
        z-index: 1;
        position: fixed;
        width: 100%;
        height: 100px;
        background: #3CB371; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

        nav {
            width: 580px;
            height: 80px;
            display: none;
            justify-content: center;
            align-items: center;
        }

            ul {
                width: 560px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

                ul li {
                    cursor: pointer;
                    list-style: none;
                    font-size: 1.4em;
                    background: #3CB371;
                    padding: 10px;
                    color: white;
                }

                li:hover {
                    color: #000;
                    background: #fff;
                }

                    li:last-child {
                        background: #FFA500;
                    }

                    li:last-child:hover {
                        color: #fff;
                    }

    main {
        width: 100%;
        background: #1c1c1c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


        #sobre {
            width: 100%;
            height: 230px;
            margin-top: 100px;
            background-image: url('../img/banner.jpg');
            background-size: 100%;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .box-sobre {
                width: 95%;
                height: 320px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .box-sobre p {
                    font-size: 1.4em;
                    color: white;
                    padding: 10px;
                    text-align: center;
                    text-shadow: 1px 1px 2px black;
                }

        #info {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

            .box-info {
                cursor: pointer;
                width: 360px;
                height: 280px;
                margin: 15px 0 15px 0;
                border-radius: 10px;
                border: 1px solid #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }

            .box-info:hover {
                border: 1px solid #3CB371;
                background: #3CB371;
            }

            #screenshots {
                display: none;
            }

            .box-versao {
                width: 380px;
                height: 260px;
                margin: 15px 0 15px 0;
                border-radius: 10px;
                background: #3CB371;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }

                section p {
                    text-align: justify;
                    padding: 0 15px 0 15px;
                    color: #fff;
                }

            #tutorial {
                cursor: pointer;
                width: 100%;
                height: 32px;
                background: #FFA500;
                overflow: scroll;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            #tutorial:hover {
                animation-name: slideDown;
                animation-duration: 0.5s;
                animation-fill-mode: both;
            }

            @keyframes slideDown {
                from {height: 32px;}
                to {height: 260px;}
            }

                #tutorial img {
                    width: 32px;
                    height: 32px;
                    filter: invert(1);
                }

                #tutorial p {
                    font-size: 1.4em;
                    text-align: center;
                    padding-top: 60px;
                }
        
            #selection {
                width: 95%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }

                select, button {
                    cursor: pointer;
                    width: 120px;
                    height: 35px;
                    outline: none;
                    border: 1px solid #000;
                }

                button:hover {
                    color: #fff;
                    background: #3CB371;
                }

    footer {
        width: 100%;
        height: 320px;
        background: #1c1c1c;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

        footer #social {
            width: 300px;
            height: 50px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

            #social img {
                width: 35px;
                height: 35px;
            }

        footer p {
            color: white;
            text-align: center;
            padding: 15px;
        }
