
/*de 1024px pra cima*/
@media (min-width: 1024px) {

    nav ul{
        width: 380px;
    }
    
    #about > img:first-child{
        width: 100px;
        height: 68px;
    }
    .container #about .box{
        width: 60%;
        height: 230px;
    }

        #about .box .text{
            font-size: 1.2em;
        }

    .container #about .icons{
        width: 26%;
        height: 45px;
    }

        #about .icons img{
            width: 45px;
            height: 45px;
        }


        .title{
            font-size: 1.4em;
        }

        .text{
            font-size: 1.2em;
        }

    .container #version{
        height: 320px;
    }

        #version .title{
            font-size: 1.4em;
        }

        #version .text{
            font-size: 1.2em;
        }

        #tutorial .box{
            width: 60%;
        }

            #tutorial .box .title{
                font-size: 1.4em;
            }

            #tutorial .box .text{
                font-size: 1.2em;
            }
        
        #tutorial img{
            width: 68%;
            height: 420px;
        }

        footer .info-Box{
            width: 230px;
        }

            .info-Box .text{
                font-size: 0.92em;
            }
}