
/*de 320px pra cima*/
@media (min-width: 320px) {

    nav{
        display: flex;
        justify-content: center;
    }

        nav ul{
            display: none;
        }
    
    .container .alert{
        display: none;
    }

    .container #about .box{
        width: 95%;
        height: 275px;
    }
    
        #about .box .text{
            font-size: 1em;
        }

    #about .icons{
         width: 72%;
        height: 40px;
    }

        #about .icons img{
            width: 40px;
            height: 40px;
         }

    .container .expand-Box {
        height: 780px;
    }
        
        .expand-Box .box {
            width: 86%;
            height: 215px;
        }

        .title {
            font-size: 1.15em;
        }

        .text {
            font-size: 1em;
            text-align: justify;
            padding-top: 15px;
        }

    .container #version{
        height: 480px;
    }

        #version .title{
            font-size: 1.2em;
        }

        #version .text{
            font-size: 1em;
        }

        #version .download-Box{
            width: 120px;
            height: 260px;

            flex-direction: column;
            align-items: center;
        }

    .container #tutorial {
        height: 490px;
    }

        #tutorial .box{
            width: 95%;
            height: 380px;
        }

            #tutorial .box .title{
                font-size: 1.2em;
            }

            #tutorial .box .text{
                font-size: 1em;
            }
    
    .container footer {
        height: 680px;
        flex-direction: column;
    }

        footer .info-Box {
            height: 196px;
            justify-content: center;
        }

            .info-Box .text{
                font-size: 1em;
                color: silver;
            }

}