
/*de 800px pra cima*/
@media (min-width: 800px) {

    .container #about .box{
        width: 60%;
    }

    .container #about .icons{
        width: 32%;
    }
        
        .expand-Box .box {
            width: 56%;
        }
}